#!/bin/bash

alias knt='cd ~/code'

# Git and other Shortcuts
alias be='bundle exec'
alias bi='bundle install'
alias br='branch'
alias cparent=`parent | pbcopy`
alias g='git'
alias ga='git add'
alias gd='git diff'
alias gbr='git branch'
alias gco='git co'
alias gp='git pull origin master'
alias gpr='git pull --rebase origin master'
alias gr='cd ~/code/gr'
alias gst='git status'
alias gx='gitx'
alias ls='ls -G'
alias lsa='ls -a'
alias rt='ruby -Ilib'
alias st='status'

#Exit the current directory and reenter it; useful for reloading .rvrmc
alias reenter='current=`pwd`; cd ..; cd $current'

#### Javascript Console
alias jsc=/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc