#!/bin/bash

alias knt='cd $CODE_DIR'

# Git and other Shortcuts
alias be='bundle exec'
alias bi='bundle install'
alias br='branch'
alias cparent=`parent | pbcopy`
alias g='git'
alias ga='git add'
alias gd='git diff'
alias gwd='git diff --color-words'
alias gbr='git branch'
alias gco='git co'
alias gp='git pull origin master'
alias gpr='git pull --rebase origin mainline'
alias gqf='git rebase -i HEAD~2'
alias grm='git rm'
alias gst='git status'
alias gx='/usr/local/bin/gitx'
alias gitx='echo "USE gx!";'
alias ls='ls -G'
alias lsa='ls -a'
alias pse='ps -ef'
alias rt='ruby -Ilib'
alias rb='ruby'
alias st='status'

#iOS dev related aliases
alias pod='pod --verbose'

#Exit the current directory and reenter it; useful for reloading .rvrmc
alias reenter='current=`pwd`; cd ..; cd $current'

#### Javascript Console
alias jsc=/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc

#Git Diff Next - personal git workflow
alias gdn=$SCRIPTS_HOME/git_diff_next.rb

#Kill Evil Tunnelblick
alias kt='sudo pkill -9 -f [T]unn; sudo pkill -9 -f [v]pn'
#And start the evil
alias ot='open -a Tunnelblick'

alias gbm=$SCRIPTS_HOME/git_branch_merge.rb
